# 3Dmodels
**/*.stl
**/*.ply
**/*.obj
**/*.las
**/*.laz

# data documents
**/*.csv
**/*.xlsx
**/*.xls

# R cache
renv/library/
renv/staging/
.Rhistory
.RData
.Ruserdata

# Python cache
**/__pycache__/
**/*.pyc
**/*.pyo
.ipynb_checkpoints/

# 3D model fold
analysis/data/3D_models_cores/

analysis/data/**/*.tmp